<div class="container">
    <div class="student-list">
        <div class="student" *ngFor="let eleve of eleves">
            <p>{{eleve.nom()}}</p>
            <img class="profile-picture" src="../assets/img/profile.jpeg" alt="student">
            <p class="commentaire">Lorem ipsum Lo</p>
            <figure>
                <img class="icon" src="../assets/img/star.svg" alt="star">
                <figcaption>Brillant</figcaption>
            </figure>
            <figure>
                <img class="icon" src="../assets/img/raise-hand.svg" alt="participation">
                <figcaption>Participant</figcaption>
            </figure>
            <figure>
                <img class="icon" src="../assets/img/remove.svg" alt="remove">
                <figcaption>Absent</figcaption>
            </figure>
            <figure>
                <img class="icon" src="../assets/img/clock.svg" alt="clock">
                <figcaption>Retard</figcaption>
            </figure>
            <figure>
                <img class="icon" src="../assets/img/quotes.svg" alt="quotes">
                <figcaption>Message<br>aux parents</figcaption>
            </figure>
            <figure>
                <img class="icon" src="../assets/img/homework.svg" alt="homework">
                <figcaption>Devoir<br>bien effectué</figcaption>
            </figure>
            <figure>
                <img class="icon" src="../assets/img/thumbs-down.svg" alt="thumbs-down">
                <figcaption>Devoir<br>mal effectué</figcaption>
            </figure>
            <figure>
                <img class="icon" src="../assets/img/remove.svg" alt="remove">
                <figcaption>Devoir<br>non efectué</figcaption>
            </figure>
        </div>
    </div>
</div>